[Unit]
Description=Launch the Proxima Centauri mission.
After=
Wants=

[Service]
Restart=on-abort
Type=simple
ExecStart=/home/pi/proxima/cmd/flightconn/flightconn
WorkingDirectory=/home/pi/proxima
User=pi
Environment=

[Install]
WantedBy=multi-user.target 
